<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<package name="com.kh.api.model"/> 
	</typeAliases>
	

	<environments default="develop">
		<environment id="develop">
			<transactionManager type="JDBC"/>
			<dataSource type="UNPOOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				<property name="username" value="spring"/>
				<property name="password" value="spring"/>			
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mappers/phone-mapper.xml"/>
	</mappers>
	
</configuration>


